<html>
	<head th:replace="~{base :: head}"></head>
	<body id="body-pd">
	    <div th:replace="~{base :: header}"></div>
	    <div th:replace="~{base :: sidebar}"></div>
	    
	    	<div class="row">
	            <div class="col-lg-12">
	                <h3 class="pb-2 mt-4 mb-2 border-bottom">Parâmetros</h3>
	                <nav aria-label="breadcrumb">
		                <ol class="breadcrumb">
		                    <li class="breadcrumb-item"><a class="black "th:href="@{/home}">Home</a></li>
		                    <li class="breadcrumb-item"><a class="black" th:href="@{/usuario-externo}">Usuários Externos</a></li>
		                    <li class="breadcrumb-item" aria-current="page">Adicionar</li>
		                </ol>
		          	</nav>
	            </div>
        	</div>
	    
	    	<div class="row justify-content-around">
		        <div class="card col-md-9">
		        	<form th:object="${usuarioExterno}" id="usuarioExternoForm" method="POST" class="card-body">
		        	<h3 class="col-md-12 text-center mb-5">Adicionar Novo Usuário Externo</h3>
		        	
					    <div class="row mb-3">
					    	<div class="col-md-6">
					         	<label for="nome">Nome completo</label>
					        	<input type="text" th:field="*{nome}" class="form-control" name="nome" id="nome" th:errorclass="is-invalid" placeholder="Digite o nome">
					        	<div class="invalid-feedback" th:errors="*{nome}"></div>
					      	</div>
					      	<div class="col-md-6">
					          	<label for="email">Email</label>
					          	<input type="email" th:field="*{email}" class="form-control" name="email" id="email" th:errorclass="is-invalid" placeholder="email@exemplo.com">
					          	<div class="invalid-feedback" th:errors="*{email}"></div>
					        </div>
					    </div>
					
					
					    <div class="row mb-3">
					    	<div class="col-md-6">
					        	<label for="cpf">CPF</label>
					          	<input type="text" th:field="*{cpf}" class="form-control" name="cpf" id="cpf" th:errorclass="is-invalid" placeholder="000.000.000-00">
					      		<div class="invalid-feedback" th:errors="*{cpf}"></div>
					      	</div>
					 		<div class="col-md-6"> 
						    	<label for="telefone">Telefone</label>
						        <input type="tel" th:field="*{telefone}" class="form-control" name="telefone" id="telefone" th:errorclass="is-invalid" placeholder="(00) 00000-0000">
					        	<div class="invalid-feedback" th:errors="*{telefone}"></div>
					        </div>
					    </div>
					
					
					    <div class="row mb-3">
					      	<div class="col-md-6">
					        	<label for="empresa">Empresa</label>
					          	<input type="text" th:field="*{empresa}" class="form-control" name="empresa" id="empresa" placeholder="Digite o nome da empresa">
					   		</div>
					  		<div class="col-md-6">
					      		<label for="dataNasc">Data de Nascimento</label>
					          	<input type="date" th:field="*{dataNasc}" class="form-control" name="dataNasc" id="dataNasc" th:errorclass="is-invalid" placeholder="00/00/0000">
					      		<div class="invalid-feedback" th:errors="*{dataNasc}"></div>
					      	</div>
					    </div>
					    
					    <div class="row mb-3">
					      	<div class="col-md-6">
					      		<label for="observacao">Descrição</label>
					          	<textarea th:field="*{observacao}" class="form-control" name="observacao" id="observacao"></textarea>
					      	</div>
				
					    </div> 
					
						<div class="d-flex justify-content-end">
					    	<button type="submit" class="btn btn-gold">Enviar</button>
					    </div>
					</form>
		        </div>
		        
		        <div class="card col-md-2 border border-secondary">
		        	<div class="card-body">
		        		<h4 class="text-center mb-5">Histórico</h4>
		        		<ul class="list-group list-overflow">
		        			<li class="list-group-item list-group-item-success mb-2 text-center">André</li>
		        			<li class="list-group-item list-group-item-danger mb-2 text-center">João</li>
		        		</ul>
		        	</div>
		        </div>
	        </div>
	    
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
	    <script th:replace="~{base :: sidebar-script}"></script>
	    <script>
	    $(document).ready(function(){
	    	  $('#telefone').mask('(00) 00000-0000');
	    	  $('#cpf').mask('000.000.000-00');
	    	  $('#residencia').mask('000');
	    });
	    
	    $("#usuarioExternoForm").submit(function() {
	    	  $('#dataNasc').unmask();
	    	  $('#telefone').unmask();
	    	  $('#cpf').unmask();
	    	  $('#residencia').unmask();
	    });
	    </script>
	</body>
</html>