<html>
	<head th:replace="~{base :: head}"></head>
	<body id="body-pd">
	    <div th:replace="~{base :: header}"></div>
	    <div th:replace="~{base :: sidebar}"></div>
	    
	    <div class="height-100 bg-light">
	        <div class="container">
	        	<div class="text-center pt-3 img-fluid">
	        		<img src="https://portalpadrao.ufma.br/dted/imagens/construcao.png/@@images/bcc9ff4c-be5a-428f-9f34-54fb8e3b3d35.png">
	        	</div>
	        	
	        </div>
	    </div>
	    
	    <script th:replace="~{base :: sidebar-script}"></script>
	</body>
</html>