.black {
	color:#212529 !important;
}

.black:hover{
	color: #BC985C !important;
}

.gold {
	color: #BC985C;
}

.gold:hover{
	color: #9b7d4c;
}

.btn-gold{
	color: #fff !important;
    background-color: #BC985C !important;
    border-color: #BC985C !important;
}

.sidebar-logo{
   max-width:200px;
   max-height:150px;
   width: auto;
   height: auto;
}

.bg-gold {
	background: linear-gradient(90deg, rgba(205,190,164,1) 19%, rgba(189,159,108,1) 44%, rgba(191,151,84,1) 100%);
}

.bg-gold1{
	background: linear-gradient(90deg, rgba(209,171,106,1) 26%, rgba(189,159,108,1) 68%, rgba(191,151,84,1) 100%);
}

.bg-modal{
	background-color: #e7e6e6 !important;
}

.icon {
  display: inline-block !important;
  width: 16px !important; 
  height: 16px !important; 
  background-image: url(images/Icone.ico) !important; 
}

th, td{
	text-align: center !important;
}

th a{
	color: #BC985C;
}

th a:hover{
	color: #9b7d4c;
}

.list-overflow{
	max-height:400px;
    overflow-y:auto;
}